@charset "utf-8";




/* Reset */
*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
    color:var(--black-color);
}

/* Common */
html {
    font-family: "Open Sans";
    min-height: 100%;
    min-width: 320px;
}

.resend-code-text{
    color:var(--black-color);
    opacity: 50%;
    transition: ease-in-out 0.2s;
    cursor: pointer;

}
.close-button-holder{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: flex-end;
    color:var(--black-color);
}

.disabled{
    opacity: 100%;
}


.resend-code-text-holder{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    display: block;
    background: #fff;
    width: 100%;
    height: 100%;
    min-height: 400px;
    border-radius: 3px;
    margin: 0 auto;
    padding: 40px 40px 40px 40px;
}


.container h1 {
    position: relative;
    display: inline-block;
    color: #000;
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px;
    padding: 0;
}

.container h1:after {
    display: block;
    background: #000;
    content: '';
    height: 3px;
    width: 50%;
    margin: 20px auto 0;
    padding: 0;
}

.form {
    display: block;
}

.form__group {
    margin: 10px 0 0;
}

.form__group--error.form__pincode > input,
.form__group--success.form__pincode > input {
    background-color: #eb3b3b;
}

.form__group--error.form__pincode > input[disabled],
.form__group--success.form__pincode > input[disabled] {
    background-color: #32c832;
    color: #fff;
    opacity: 1;
}

.form__pincode {
    display: block;
    width: 100%;
    margin: 10px auto 20px;
    padding: 0;
    clear: both;
}

.form__pincode > label {
    display: block;
    text-align: center;
    margin: 10px 0;
}
.label{
    color:var(--black-color);
    text-align: center;
}

.form__pincode > input[type="number"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form__pincode > input {
    display: inline-block;
    float: left;
    width: 15%;
    height: 50px;
    line-height: 48px;
    text-align: center;
    font-size: 2em;
    color: #181819;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px 2px 0 0;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
    cursor: default;
    user-select: none;
    margin: 0;
    margin-right: 2%;
    padding: 0;
}

.form__pincode > input:focus {
    outline: 0;
    box-shadow: none;
    border-color: #1486f0;
    animation: border-pulsate 1.5s infinite;
    -webkit-tap-highlight-color: transparent;
}

.form__pincode > input:last-child {
    margin-right: 0;
}

.form__pincode > input[disabled] {
    background: #eee;
    opacity: 1;
}

.form__buttons {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 0;
}


/* Button */
.button {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
}

/* primary */
.button--primary {
    background-color: #4776e6;
    color: #fff;
    line-height: 48px;
    border: 1px solid transparent;
    border-radius: 50px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
.button--primary{
    margin-top: 1rem;
}
.button--primary:focus,
.button--primary:hover {
    background-color: #405dce;
    color: #fff;
}

.button--primary:active {
    background-color: #3145b2;
    color: #fff;
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

/* disabled */
.button--primary[disabled] {
    background-color: #4776e6;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.3;
}

/* Placeholder */
/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.7;
}

/* Firefox 19+ */
::-moz-placeholder {
    color: inherit;
    opacity: 0.7;
}

/* IE 10+ */
:-ms-input-placeholder {
    color: inherit;
    opacity: 0.7;
}

/* Firefox 18- */
:-moz-placeholder {
    color: inherit;
    opacity: 0.7;
}

/* Animations */
@keyframes border-pulsate {
    0% {
        border-color: rgba(20, 134, 240, 1);
    }
    50% {
        border-color: rgba(0, 0, 0, 0.3);
    }
    100% {
        border-color: rgba(20, 134, 240, 1);
    }
}
/* Mobile Responsive */
@media (max-width: 768px) {
    .container {
        padding: 20px 20px 20px 20px;
        min-height: 350px;
    }

    .container h1 {
        font-size: 1.5em;
        margin: 0 0 15px;
    }

    .container h1:after {
        margin: 15px auto 0;
    }

    .form__pincode > input {
        width: calc(16.666% - 1.5%);
        height: 40px;
        line-height: 38px;
        font-size: 1.5em;
        margin-right: 1.5%;
    }

    .form__pincode > label {
        font-size: 0.9em;
        margin: 8px 0;
    }

    .button--primary {
        height: 44px;
        line-height: 44px;
        font-size: 12px;
        padding: 0 15px;
    }

    .close-button-holder {
        top: 10px;
        right: 10px;
    }

    .resend-code-text-holder {
        padding: 0.5rem;
    }

    .resend-code-text {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px 15px 15px 15px;
        min-height: 300px;
    }

    .container h1 {
        font-size: 1.2em;
        margin: 0 0 12px;
    }

    .container h1:after {
        height: 2px;
        margin: 12px auto 0;
    }

    .form__pincode > input {
        width: calc(16.666% - 1.2%);
        height: 35px;
        line-height: 33px;
        font-size: 1.2em;
        margin-right: 1.2%;
    }

    .form__pincode > label {
        font-size: 0.8em;
        margin: 6px 0;
    }

    .label {
        font-size: 0.8em;
    }

    .button--primary {
        height: 40px;
        line-height: 40px;
        font-size: 11px;
        padding: 0 12px;
        margin-top: 0.5rem;
    }

    .resend-code-text {
        font-size: 0.85em;
    }
}