.reset_password_title{
    font-size: 20px;
    color: var(--black-color);
    text-align: center;
}
.reset_password_container{
    position: relative;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    background: var(--white-color);

}
.login__box_password_reset {
    position: relative;
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    border-bottom: 2px solid var(--black-color);
    width: 100%;
}.login__input_password_reset {
     width: 100%;
     padding-block: 0.8rem;
     background: none;
     color: var(--black-color);
     position: relative;
     z-index: 1;

 }
 .password_reset_form{
     width: 100%;
 }
 .circular_progress{
     color:var(--white-color) !important;
     transform: 'translate(-50%, -50%)' !important;

 }
 .reset_password_button{
     width: 70%;
 }
.button_container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
/* Input focus move up label */
.login__input_password_reset:focus + .login__label_password_reset {
    top: -12px;
    font-size: var(--small-font-size);
}

/* Input focus sticky top label */
.login__input_password_reset:not(:placeholder-shown).login__input_password_reset:not(:focus) + .login__label_password_reset {
    top: -12px;
    font-size: var(--small-font-size);
}.login__label_password_reset{
     position: absolute;
     left: 0;
     top: 13px;
     font-weight: var(--font-medium);
     transition: top 0.3s, font-size 0.3s;
     color: var(--black-color);
 }