@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

#root {
  width: 100%;
  padding: 0;
  margin: 0;
}



@theme {
  
  /* PRIMARY */
  --color-primary: rgb(37, 99, 235);          /* light mode primary */
  --color-primary-hover: rgb(29, 78, 216);    /* darker hover */

  /* SECONDARY */
  --color-secondary: rgb(99, 102, 241);       /* indigo-like secondary */
  --color-secondary-hover: rgb(79, 70, 229);  /* darker hover */

  /* WHITE / BLACK */
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);



}

@layer base {
  .font-yellowtail {
    font-family: 'Yellowtail', cursive;
  }
}

/* global.css ili index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Za Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Za Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/* Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}
